<div class="header-wrapper">

    <div class="bottom-header">
        <div class="navigation-wrapper"></div>
        <div class="logo"><a href="/"><img src="../../../../assets/img/logo3.png" alt="logo"></a></div>
        <div class="nav-elements">
            <ul>
                <li>
                    <a href="/">{{'home' | translate}}</a>
                </li>
                <li>
                    <a href="" appScrollTo="#about">{{'about' | translate}}</a>
                </li>
                <li>
                    <a href="" appScrollTo="#plans">{{'plans' | translate}}</a>
                </li>
                <li>
                    <a href="" appScrollTo="#contact">{{'contact' | translate}}</a>
                </li>

            </ul>
        </div>

        <button class="button-three" [attr.aria-expanded]="isExpanded ? 'true' : 'false'" (click)="toggleButton()">
            <svg stroke="var(--button-color)" fill="none" class="hamburger" viewBox="-10 -10 120 120" width="250">
                <path class="line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
                    d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70">
                </path>
            </svg>
        </button>

        <div class="buttons-section">
            <button class="custom-button" (click)="signIn()">
                <div class="icon-wrapper">
                    <mat-icon>supervised_user_circle</mat-icon>
                </div>
                <span>{{'signin' | translate}}</span>
            </button>
        </div>
    </div>
</div>
<div class="mobile-nav-elements" [ngClass]="{'expanded': isExpanded}">
    <ul>
        <li>
            <a href="/">{{'home' | translate}}</a>
        </li>
        <li>
            <a href="" appScrollTo="#about">{{'about' | translate}}</a>
        </li>
        <li>
            <a href="" appScrollTo="#plans">{{'plans' | translate}}</a>
        </li>
        <li>
            <a href="" appScrollTo="#contact">{{'contact' | translate}}</a>
        </li>

        <li class="other" *ngFor="let component of components" (click)="openDialog(component.component)">
            <a>{{ component.name | translate}}</a>
        </li>

    </ul>
    <div class="mobile-buttons-section">
        <button class="custom-button">
            <div class="icon-wrapper">
                <mat-icon>supervised_user_circle</mat-icon>
            </div>
            <span>{{'signin' | translate}}</span>
        </button>
    </div>
</div>