<div class="dialog-wrapper">
    <div class="dialog-header">
        <div class="dialog-buttons">
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
        </div>
    </div>
    <div class="dialog-content">
        <h2>{{ 'privacyPolicyHeader' | translate }}</h2>

        <h3>{{ 'introductionSection' | translate }}</h3>
        <p>{{ 'introductionContent' | translate }}</p>

        <h3>{{ 'dataCollectionSection' | translate }}</h3>
        <p>{{ 'dataCollectionContent' | translate }}</p>

        <h3>{{ 'dataUsageSection' | translate }}</h3>
        <p>{{ 'dataUsageContent' | translate }}</p>
        <h3>{{ 'dataSharingSection' | translate }}</h3>
        <p>{{ 'dataSharingContent' | translate }}</p>

        <h3>{{ 'securitySection' | translate }}</h3>
        <p>{{ 'securityContent' | translate }}</p>

        <h3>{{ 'userRightsSection' | translate }}</h3>
        <p>{{ 'userRightsContent' | translate }}</p>

        <h3>{{ 'policyChangesSection' | translate }}</h3>
        <p>{{ 'policyChangesContent' | translate }}</p>

        <h3>{{ 'contactSection' | translate }}</h3>
        <p>{{ 'contactContent' | translate }}</p>
    </div>
</div>