.button-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.flag-icon {
    font-size: 14px;
}

.mat-menu-content {
    display: flex;
    flex-direction: column;
}

.mat-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}