<button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger class="button-menu">
    <span *ngIf="currentLang === 'pl'" class="fi fi-pl flag-icon"></span>
    <span *ngIf="currentLang === 'en'" class="fi fi-gb flag-icon"></span>
</button>
<mat-menu #menu="matMenu" class="lang-menu">
    <button class="flag-button" mat-menu-item yPosition="below" (click)="changeLanguage('pl')">
        <span class="fi fi-pl flag-icon"></span>
    </button>
    <button class="flag-button" mat-menu-item (click)="changeLanguage('en')">
        <span class="fi fi-gb flag-icon"></span>
    </button>
</mat-menu>