<div class="dialog-wrapper">
    <div class="dialog-header">
        <div class="dialog-buttons">
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
        </div>
    </div>
    <div class="dialog-content">
        <h2>{{ 'termsHeader' | translate }}</h2>
        <h3>{{ 'section1Header' | translate }}</h3>
        <p>{{ 'section1Content' | translate }}</p>
        <h3>{{ 'section2Header' | translate }}</h3>
        <p>{{ 'section2Content' | translate }}</p>
        <h3>{{ 'section3Header' | translate }}</h3>
        <p>{{ 'section3Content' | translate }}</p>
        <h3>{{ 'section4Header' | translate }}</h3>
        <p>{{ 'section4Content' | translate }}</p>
        <h3>{{ 'section5Header' | translate }}</h3>
        <p>{{ 'section5Content' | translate }}</p>
        <h3>{{ 'section6Header' | translate }}</h3>
        <p>{{ 'section6Content' | translate }}</p>
        <h3>{{ 'section7Header' | translate }}</h3>
        <p>{{ 'section7Content' | translate }}</p>
        <h3>{{ 'section8Header' | translate }}</h3>
        <p>{{ 'section8Content' | translate }}</p>
    </div>
</div>