<div class="dialog-wrapper">
    <div class="dialog-header">
        <div class="dialog-buttons">
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
        </div>
    </div>
    <div class="dialog-content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel nulla vero ab. Sequi, assumenda! Recusandae,
        adipisci fugiat! Minima, maxime itaque perferendis voluptates sequi molestias consectetur magnam beatae id atque
        tenetur voluptatem perspiciatis nemo non, modi unde libero maiores. Eius, pariatur deleniti dignissimos nisi
        incidunt quia fugit officia nulla itaque numquam accusantium in architecto cupiditate. Ea ut consequuntur qui
        non voluptatem? Et vero autem nostrum cum quidem, consequuntur minus? Eius tempore nobis facilis ipsam
        laboriosam perspiciatis! Inventore sequi repudiandae odio adipisci consequuntur quos molestias temporibus
        aliquam optio quibusdam suscipit excepturi, ea ratione, exercitationem fugiat rem cum. Optio omnis libero
        dignissimos aperiam.
    </div>
</div>