<div class="footer-wrapper">
    <div class="upper-footer">
        <div class="footer-section footer-logo">
            <div class="inside-wrapper">
                <img src="../../../../assets/img/logo3.png" alt="" [appFadeInOnScroll]="'down'" [once]="true">
                <h2 [appFadeInOnScroll]="'left'" [once]="true">Strength Builder</h2>
                <span [appFadeInOnScroll]="'up'" [once]="true"> {{ 'footerDesc' | translate }}</span>
            </div>
        </div>
        <div class="footer-section">
            <div class="inside-wrapper">
                <h3 [appFadeInOnScroll]="'down'" [once]="true"> {{ 'mainNav' | translate }}</h3>
                <div class="nav-elements">
                    <ul>
                        <li [appFadeInOnScroll]="'left'" [once]="true">
                            <a href="/">{{'home' | translate}}</a>
                        </li>
                        <li [appFadeInOnScroll]="'down'" [once]="true">
                            <a href="" appScrollTo="#about">{{'about' | translate}}</a>
                        </li>
                        <li [appFadeInOnScroll]="'right'" [once]="true">
                            <a href="" appScrollTo="#plans">{{'plans' | translate}}</a>
                        </li>
                        <li [appFadeInOnScroll]="'left'" [once]="true">
                            <a href="" appScrollTo="#contact">{{'contact' | translate}}</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <div class="inside-wrapper">
                <h3 [appFadeInOnScroll]="'down'" [once]="true"> {{ 'more' | translate }}</h3>
                <div class="panel" *ngFor="let component of components" (click)="openDialog(component.component)"
                    [appFadeInOnScroll]="'right'" [once]="true">
                    {{ component.name | translate}}
                </div>
            </div>
        </div>

    </div>
    <div class="bottom-footer">
        <div class="bottom-left" [appFadeInOnScroll]="'left'" [once]="true"><span> {{ 'copyright' | translate }} </span>
        </div>
        <div class="bottom-right">
            <div class="inside-bottom-right">
                <div class="panel" *ngFor="let component of secondComponents" (click)="openDialog(component.component)"
                    [appFadeInOnScroll]="'down'" [once]="true">
                    {{ component.name | translate}}
                </div>
            </div>
        </div>
    </div>
</div>