<div class="dialog-wrapper">
    <div class="dialog-header">
        <div class="dialog-buttons">
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
            <span (click)="closeDialog()"></span>
        </div>
    </div>
    <div class="dialog-content">
        <h2>{{ 'cookiePolicyHeader' | translate }}</h2>

        <h3>{{ 'cookieIntroductionSection' | translate }}</h3>
        <p>{{ 'cookieIntroductionContent' | translate }}</p>

        <h3>{{ 'cookieWhatSection' | translate }}</h3>
        <p>{{ 'cookieWhatContent' | translate }}</p>

        <h3>{{ 'cookieUsageSection' | translate }}</h3>
        <p>{{ 'cookieUsageContent' | translate }}</p>

        <h3>{{ 'cookieTypesSection' | translate }}</h3>
        <p>{{ 'cookieTypesContent' | translate }}</p>

        <h3>{{ 'cookieManagementSection' | translate }}</h3>
        <p>{{ 'cookieManagementContent' | translate }}</p>

        <h3>{{ 'cookiePolicyChangesSection' | translate }}</h3>
        <p>{{ 'cookiePolicyChangesContent' | translate }}</p>

        <h3>{{ 'cookieContactSection' | translate }}</h3>
        <p>{{ 'cookieContactContent' | translate }}</p>
    </div>
</div>