<div class="contact-form-wrapper box-shadow">
    <div class="left-column" *ngIf=" !isSubmit">
        <h1 [appFadeInOnScroll]="'down'" [once]="true">Let's Get in Touch!</h1>
        <p [appFadeInOnScroll]="'right'" [once]="true"> Got questions about our personalized workout plans? Need expert
            advice or want
            to tailor your plan for specific goals? We're here to help! Fill out the form below, and we'll get back to
            you as soon as possible. Your journey to better fitness starts here!</p>
    </div>
    <div class="right-column" *ngIf=" !isSubmit">
        <form [formGroup]="contactForm" class="form-group">
            <div class="control-wrapper" [appFadeInOnScroll]="'left'" [once]="true">
                <div class="inputBox"
                    [class.error]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                    <input formControlName="name" id="name" type="text" required>
                    <span>Name</span>

                </div>
                <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
                    Name is required.
                </div>
            </div>
            <div class="control-wrapper" [appFadeInOnScroll]="'down'" [once]="true">

                <div class="inputBox"
                    [class.error]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                    <input formControlName="email" id="email" type="email" required>
                    <span>Email</span>

                </div>
                <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                    class="error-message">
                    A valid email is required.
                </div>
            </div>
            <div class="control-wrapper" [appFadeInOnScroll]="'right'" [once]="true">

                <div class="inputBox"
                    [class.error]="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                    <textarea formControlName="message" id="message" required maxlength="500"></textarea>
                    <span>Message</span>

                </div>
                <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                    class="error-message">
                    Message is required.
                </div>
            </div>


        </form>
        <div class="buttons-section" [appFadeInOnScroll]="'down'" [once]="true">
            <button class="custom-button" (click)="submitEmail(contactForm.value)" [disabled]="contactForm.invalid">
                <div class="icon-wrapper">
                    <mat-icon>send</mat-icon>
                </div>
                <span>Send message</span>
            </button>
        </div>

    </div>
    <div class="after-submit-section" *ngIf="isSubmit">
        <h1 *ngIf="isSubmit" [appFadeInOnScroll]="'left'">
            {{ submitMessage }} </h1>
    </div>
</div>