.about-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    flex-direction: column;
    padding: 5vh 5vw;
    background-image: linear-gradient(to bottom, rgba(3, 11, 18, 0.90), rgba(3, 11, 18, 0.90)), url('../../../../../assets/img/bgc.png');
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 80%;
    overflow: hidden;


    .upper-about {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: row;

        .about-title {

            width: 100%;

            .header-section {
                width: 50%;
                height: 100%;

                h1 {
                    width: 100%;
                    height: 100%;
                    font-size: 10rem;
                    color: white;
                    text-shadow: 5px 5px 0px #3c86cf;
                }
            }

            .text-section {
                width: 50%;

                p {
                    font-size: 80%;
                    width: 100%;

                }
            }

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
    }

    .lower-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;

        .skill-progress {
            background-color: white;
            border-radius: 5px;
            height: 20px;
            width: 90%;
            margin: 5px 0;
        }

        .skill-progress-fill {
            background-color: #3c86cf;
            height: 100%;
            border-radius: 5px;
            transition: width 0.3s ease-in-out;
        }
    }
}

@media (max-width: 1600px) {
    .about-wrapper {
        flex-direction: column;

        h2 {
            text-align: center;
            width: 100%;
        }

        h3 {
            text-align: center;
        }

        .upper-about {
            .about-title {
                flex-direction: column;

                .header-section {
                    width: 100%;
                    height: 100%;



                    h1 {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        font-size: 6rem;
                        color: white;
                        text-shadow: 5px 5px 0px #3c86cf;
                        margin: 0;


                    }
                }

                .text-section {
                    width: 100%;

                    p {
                        text-align: center;

                        font-size: 80%;
                        width: 100%;

                    }
                }
            }
        }

        .lower-about {
            .about-row {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

    }




}


@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        padding: 5vh 5vw;

        h2 {
            text-align: center;
            width: 100%;
        }

        h3 {
            text-align: center;
        }

        .upper-about {
            .about-title {
                flex-direction: column;

                .header-section {
                    width: 100%;
                    height: 100%;



                    h1 {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        font-size: 3rem;
                        color: white;
                        text-shadow: 2px 2px 0px #3c86cf;
                        margin: 0;


                    }
                }

                .text-section {
                    width: 100%;

                    p {
                        text-align: center;

                        font-size: 60%;
                        width: 100%;

                    }
                }
            }
        }

        .lower-about {
            .about-row {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

    }




}