<div class="main-view-wrapper" id="plans">
    <div class="bottom-view">
        <div class="plan-section" *ngFor="let section of planSections">
            <div class="plan-section-top">
                <div class="img-wrapper">
                    <img [src]="section.image.src" [alt]="section.image.alt" [appFadeInOnScroll]="'left'" [once]="true">
                </div>
                <div class="plan-wrapper">
                    <h3 [appFadeInOnScroll]="'right'" [once]="true"> {{ section.text.title }}</h3>
                    <p [appFadeInOnScroll]="'right'" [once]="true">{{ section.text.content }}</p>
                </div>
            </div>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [appFadeInOnScroll]="'left'" [once]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Read More
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{section.description}}</p>
                <div class="button-section">
                    <button class="custom-button">
                        <div class="icon-wrapper">
                            <mat-icon>{{section.button.icon}}</mat-icon>
                        </div>
                        <span>{{section.button.text}}</span>
                    </button>
                </div>
            </mat-expansion-panel>

        </div>
    </div>
</div>