@use '@angular/material' as mat;
@include mat.core();
$bright-navy-blue-palette: (
    50: #e6f2f7,
    // jasniejsze odcienie, możesz je dostosować
    100: #bfd8ec,
    // jasniejsze odcienie, możesz je dostosować
    200: #95bde0,
    // jasniejsze odcienie, możesz je dostosować
    300: #6ba3d3,
    // jasniejsze odcienie, możesz je dostosować
    400: #4d8fca,
    // jasniejsze odcienie, możesz je dostosować
    500: #3c86cf,
    // główny kolor
    600: #377dc9,
    // ciemniejsze odcienie, możesz je dostosować
    700: #3172c2,
    // ciemniejsze odcienie, możesz je dostosować
    800: #2b68bb,
    // ciemniejsze odcienie, możesz je dostosować
    900: #2058b0,
    // ciemniejsze odcienie, możesz je dostosować
    A100: #ffffff,
    A200: #e6f0ff,
    A400: #b3ccff,
    A700: #9abaff,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    )
);
$gainsboro-palette: (
    50: #f8f5ff,
    100: #f1eeff,
    200: #e8e5ff,
    300: #d8d5f7,
    400: #b4b1d2,
    500: #9492b1,
    600: #6b6a87,
    700: #585673,
    800: #393853,
    900: #171830,
    A100: #f5f5f5,
    A200: #eaeaeb,
    A400: #d6d6d7,
    A700: #838386,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: white,
    )
);
$crimson-palette: (
    50: #ffebef,
    100: #ffcdc5,
    200: #f0999f,
    300: #e77179,
    400: #f24e58,
    500: #f83a40,
    600: #e9313e,
    700: #d72638,
    800: #ca1e30,
    900: #bb0d24,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);
$bluesky-primary: mat.define-palette($bright-navy-blue-palette, 700, 300, 900);
$bluesky-accent: mat.define-palette($gainsboro-palette, 300, 100, 500);
$bluesky-warn: mat.define-palette($crimson-palette, 700);
$bluesky-theme: mat.define-light-theme((color: (primary: $bluesky-primary,
                accent: $bluesky-accent,
                warn: $bluesky-warn,
            )));
@include mat.all-component-themes($bluesky-theme);