<div class="upper-header">
    <div class="mac-buttons">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="info">
        <div class="panel" *ngFor="let component of components" (click)="openDialog(component.component)">
            {{ component.name | translate}}
        </div>
    </div>
    <button (click)="useLanguage('en')">en</button>
    <button (click)="useLanguage('pl')">pl</button>
    <!-- <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openLanguage()">Open dialog</button>
</mat-menu> -->


</div>